.FloorFilter.isDragging {
  cursor: ew-resize;
}

.FloorFilter {
  width: calc(100% - (var(--point-size) / 2 * 2));
  margin: 0;
  margin-top: 15px;
  position: relative;

  --active-color: #3a3a45;
  --unactive-color: #3a3a4555;

  --selected-color: hsl(240deg 9% 50%);
  --unselected-color: hsl(240deg 9% 85%);

  --filter-background-color: white;

  --text-height: 14px;
  --text-width: 64px;
  --point-size: 12px;
  --ex-height: 0px;

  --track-height: 5px;

  --TrackLayoutTop: calc((var(--point-size) - var(--track-height)) / 2);
  --TextLayoutTop: calc((var(--point-size) + 4px));
  --PointLayoutTop: 0px;

  height: calc(
    var(--track-height) +
    var(--text-height) +
    var(--point-size) +
    var(--ex-height)
  );
  user-select: none;
}
