.SettingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.Left {
  font-size: 20px;
}

.Logo {
  display: block;
  --logo-size: 76px;
  width: var(--logo-size);
  height: var(--logo-size);
  min-width: var(--logo-size);
  min-height: var(--logo-size);
}

.Right {
  font-size: 20px;
}

.Title {
  font-size: 28px;
  line-height: 28px;
}

.Version {
  margin-top: 8px;
  line-height: 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8)
}
