
.AddNewRowInner {
  padding-left: 45px;
  display: flex;
}

.AddNewRowWrapper {
  /* padding-bottom: 12px; */
  height: calc(176px + 12px);
  box-sizing: border-box;
  /* margin-bottom: 12px; */
}

.AddSite {
  cursor: pointer;
  width: 48px;
  height: 48px;
}
