
.AddSiteOption {
  margin: 0 8px;
  --normal-width: 132px;
  --timing: 382ms;
  width: var(--normal-width);
  opacity: 1;
  overflow: hidden;
}

.AddSiteOptionEnter {
  width: 0;
  opacity: 0;
}
.AddSiteOptionEnterActive {
  width: 0;
  opacity: 0;
}
.AddSiteOptionEnterDone {
  transition: width 382ms, opacity 382ms;
  width: var(--normal-width);
  opacity: 1;
}

.AddSiteOptionExit {
  transition: opacity var(--timing), width var(--timing);
  opacity: 0;
  width: 0px;
}
.AddSiteOptionExitActive {
  opacity: 0;
  width: 0px;
}
.AddSiteOptionExitDone {
  opacity: 0;
  width: 0px;
}
