/* .ColDnDFrame:first-child { margin-left: 0 }
.ColDnDFrame:last-child { margin-right: 0 } */
.ColDnDFrame {
  margin: 0px 8px;
  /* padding: 0 8px; */
}
.Col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 156px;
  box-shadow: 0 0 0 2px grey;
  background-color: white;
  /* background-color: grey; */
}
.Icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  background-color: grey;
  margin: auto;
}
.UrlPattern {
  /* text-decoration: underline; */
  flex-grow: 2;
  /* border-bottom: solid 1px grey; */
  line-height: 20px;
  width: 128px;
  max-width: 128px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.Col:hover .Button {
  opacity: 1;
}
.Button {
  all: unset;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: baseline;

  opacity: 0;

  /* margin-left: 10px; */

  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  border-radius: 100%;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.6);
}
