.SiteWindowFrame.IsBlur {
  opacity: 0.5;
}

.SiteWindowFrame {
  --normal-width: 128px;
  --edit-width: 384px;
  --normal-height: 156px;

  height: var(--normal-height);
  border: solid 2px grey;

  background-color: white;
  position: relative;
  overflow: hidden;
}

.NormalChildren {
  width: var(--normal-width);
  min-width: var(--normal-width);
  max-width: var(--normal-width);

  height: var(--normal-height);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.UrlPattern {
  flex-grow: 2;
  line-height: 20px;
  width: 128px;
  max-width: 128px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.SiteWindowFrame:hover .RemoveIcon,
.SiteWindowFrame:hover .EditIcon {
  opacity: 1;
}

.RemoveIcon, .EditIcon {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  opacity: 0;
  width: 24px;
  height: 24px;
  margin: 0 4px;
}

.EditChildrenInner {
  width: var(--edit-width);
  min-width: var(--edit-width);
  max-width: var(--edit-width);

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.EditChildren {
  transition: opacity 382ms, width 382ms;
  display: none;
  width: var(--normal-width);
}
.EditChildrenEnter {
  display: block;
  opacity: 0;
}
.EditChildrenEnterActive {
  opacity: 1;
  width: var(--edit-width);
}
.EditChildrenEnterDone {
  opacity: 1;
  display: block;
  width: var(--edit-width);
}
.EditChildrenExit {
  display: block;
  opacity: 0;
  width: var(--normal-width);
}
.EditChildrenExitActive {
  display: block;
  opacity: 0;
  width: var(--normal-width);
}
.EditChildrenExitDone {
  opacity: 0;
}
