html, body {
  background-color: transparent;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.control-main {
  --interval: 12px;

  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  padding: 0 40px;
  padding-top: 4px;
  width: 100vw;
  height: 100vh;

  min-height: 182px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
}

.button-group-wrapper {
  margin-top: var(--interval);
}

.floor-filter-wrapper {
  width: 100%;
  margin-top: var(--interval);
}

.filtered-floor-tips.show {
  opacity: 1;
  bottom: 0px;
}
.filtered-floor-tips {
  transition: opacity 382ms, bottom 382ms;
  opacity: 0;
  position: absolute;
  bottom: calc(0px - .5em);
  left: 0;
  width: 100vw;
  text-align: center;
  font-size: 12px;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.6);
}
