code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

  position: relative;

  --popup-width: 380px;
  --popup-height: 125px;
  
  min-width: var(--popup-width);
  max-width: var(--popup-width);
  width: var(--popup-width);

  min-height: var(--popup-height);
  max-height: var(--popup-height);
  height: var(--popup-height);
}
