.Popup {
  --footer-background: rgba(246, 246, 246);
  --footer-height: 25px;
  --footer-font-size: 12px;
  --footer-shadow-size: 3px;
  --footer-shadow-color: rgba(0, 0, 0, .1);

  --main-padding-horizontal: 30px;
  --main-height: calc(var(--popup-height) - var(--footer-height));

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;

  overflow: hidden;
}
