.FloorFilter {
  width: 100%;
  margin: 10px 0;
  position: relative;


  --text-height: 14px;
  --text-width: 64px;
  --point-size: 12px;

  --track-height: 5px;

  --TrackLayoutBottom: calc((var(--point-size) - var(--track-height)) / 2);
  --TextLayoutBottom: calc((var(--point-size) + 2px));
  --PointLayoutBottom: 0px;

  /* height: calc(var(--track-height) + var(--text-height) + var(--point-size)); */
  user-select: none;
}

.SelectedContainer {
  width: 100%;
  background-color: #a6a6a6;
  height: var(--track-height);
  position: absolute;
  bottom: var(--TrackLayoutBottom);
  left: 0;
}
.Selected {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* width: 32px; */
  background-color: #4472c4;
}

.FloorTextLayout {
  width: 100%;
  position: relative;
}

.FloorText {
  position: absolute;
  bottom: var(--TextLayoutBottom);

  cursor: default;

  width: var(--text-width);
  text-align: center;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1em;
}

.PointLayout {
  width: 100%;
  position: relative;
}

.FloorPoint {
  position: absolute;
  bottom: var(--PointLayoutBottom);

  text-align: center;

  background-color: #4472c4;

  width: var(--point-size);
  height: var(--point-size);
  border-radius: var(--point-size);
}
