.SearchInputForm.Focus {
  background-color: white;
  box-shadow:
    inset 0 5px 4px -1px rgba(0, 0, 0, 0.2),
    inset 4px 0px 4px -2px rgba(0, 0, 0, 0.4),
    inset -4px 0px 4px -2px rgba(0, 0, 0, 0.4),
    0px 1px 3px -2px rgba(0, 0, 0, .5)
  ;
}
.SearchInputForm {
  width: 100%;
  height: 40px;
  min-height: 40px;

  display: flex;
  border-radius: 50px;
  border: solid #3a3a45 2px;

  align-items: center;
  justify-content: left;
  overflow: hidden;

  background-color: white;
  transition: box-shadow 100ms;
  box-shadow:
    inset 0 3px 4px -2px rgba(0, 0, 0, 0.4),
    inset 3px 0px 4px -2px transparent,
    inset -3px 0px 4px -2px transparent,
    0px 1px 3px -2px rgba(0, 0, 0, .5)
  ;
}

.Input {
  font-family: "Segoe UI", "Noto Sans CJK SC", "Source Han Sans", "Source Han Sans CN", "Microsoft JhengHei", DengXian, "微软雅黑", "黑体", sans-serif;
  background-color: transparent;
  /* background-color: rgba(0, 0, 0, 0.1); */
  color: #3a3a45ee;
  border: 0;
  line-height: 32px;
  font-size: 18px;
  flex-grow: 2;
  padding-left: 20px;
  padding-right: 10px;
  outline: none;
  min-width: 0px;
}

.IconSubmit:active {
}
.IconSubmit:hover {
  background-color: rgb(58 58 69 / 8%);
}
.IconSubmit {
  all: unset;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 32px;
  width: 32px;
  height: 100%;

  padding-left: 10px;
  padding-right: 10px;
}
.IconSubmitImg {
  width: 100%;
  height: 100%;
}
