.SettingSwitch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.SettingSwitch + .SettingSwitch {
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}

.Left {
  flex-grow: 2;
}

.Title {
  font-size: 20px;
}
.Description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.Right {
  font-size: 20px;
}
