.SettingItem:first-child {
  margin-top: 0;
}
.SettingItem:last-child {
  margin-bottom: 0;
}

.SettingItem {
  margin: 20px 0;
  color: rgb(61, 61, 72);

  cursor: default;
}

.SettingItemInner > :global(*):last-child,
.SettingItemInner > :global(*):last-child > :global(*):last-child
{
  margin-bottom: 0;
}
.SettingItemInner > :global(*):first-child,
.SettingItemInner > :global(*):first-child > :global(*):first-child {
  margin-top: 0;
}

.SettingItemInner {
  box-sizing: border-box;
  padding: 15px 18px;
  background-color: white;

  border-radius: 2px;
  box-shadow: 5px 5px 4px -3px rgba(0, 0, 0, 0.15);
  font-size: 12px;
}
