.AddToPoker {
  font-size: var(--footer-font-size);
  width: 100%;
  height: var(--footer-height);
  line-height: var(--footer-height);

  text-align: center;

  height: var(--popup-height);

  box-sizing: border-box;
  padding: 0 10px;
}
