.DragFloors {
}

.DragDropContextInner {
  position: relative;
}

.DragFloorDnD {
}

._1FTips {
  color: grey;
  padding-left: 20px;
  transform: translateY(-5px);
}

.FloorSettingItem {
  position: relative;
}

.FloorSettingItemInner {
  padding-bottom: 20px;
}

.FloorSettingName:focus {
  border-bottom: solid 1px #3a3a45;
}
.FloorSettingName {
  border: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  color: #3a3a45;
  outline: none;
  font-size: 14px;
  padding-bottom: 4px;
}

.DragFloorInner {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 8px;
}

.Floor.isDraggingOver {
  height: 0;
}
.Floor {
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 62px;
  text-align: center;
  font-size: 32px;
  text-shadow: -1px -1px rgb(0 0 0 / 20%);
  color: #DDD;
  line-height: 1em;
  height: 0.75em;
  overflow: hidden;
  transition: height 382ms;
}

.AddIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  left: calc((20px - 14px) / -2);
  cursor: pointer;
}

.Handler {
  width: 14px;
  height: 12px;
  /* background-color: grey; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.Handler:hover .HandlerLine {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.HandlerLine {
  height: 1px;
  min-height: 1px;
  width: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 2px 0;
}
