.DragFloors {
}

.DragDropContextInner {
  position: relative;
}

.DragFloorDnD {
  /* padding: 10px 0; */
  margin-bottom: 12px;
}

._1FTips {
  color: grey;
  padding-left: 20px;
  transform: translateY(-5px);
}

.FloorSettingItem {
  position: relative;
}

.DragFloorInner {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.Floor.isDraggingOver {
  height: 0;
}
.Floor {
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 62px;
  text-align: center;
  font-size: 32px;
  text-shadow: -1px -1px rgb(0 0 0 / 20%);
  color: #DDD;
  line-height: 1em;
  height: 0.75em;
  overflow: hidden;
  transition: height 382ms;
}

.AddIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  left: calc((20px - 14px) / -2);
  cursor: pointer;
}

.Handler {
  width: 14px;
  height: 12px;
  /* background-color: grey; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.Handler:hover .HandlerLine {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.HandlerLine {
  height: 1px;
  min-height: 1px;
  width: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 2px 0;
}

.TransitionItem {
  --timing: 382ms;
  --inner-height: 160px;
  --padding-vertical: 15px;
  --margin-bottom: 12px;

  --total-height: calc(
    var(--inner-height) +
    (var(--padding-vertical) * 2) +
    var(--margin-bottom)
  );
}
.TransitionItemEnter {
  transition: opacity var(--timing), height var(--timing);
  height: 0;
  opacity: 0;
}
.TransitionItemEnterActive {
  height: var(--total-height);
  opacity: 1;
}
.TransitionItemEnterDone {
  height: unset;
  opacity: 1;
}
.TransitionItemExit {
  transition: opacity var(--timing), height var(--timing);
  height: var(--total-height);
}
.TransitionItemExitActive {
  opacity: 0;
  height: 0;
}
.TransitionItemExitDone {
  opacity: 0;
  height: 0;
  display: none;
}
