
.EditLayout {
  width: 100%;
  height: 100%;
  text-align: left;
}

.UrlPatternInput {
  margin-left: 5px;
  width: 300px;
}

.ButtonGroup {
  margin-top: 10px;
}

.Button:last-child { margin-right: 0 }
.Button:first-child { margin-left: 0 }
.Button {
  margin: 0 8px;
}

.Failure {
  margin-top: 8px;
  color: red;
}
